<div class="flex w-full absolute justify-between p-8">
  <button
    class="flex bg-gray-500 hover:bg-gray-700 text-white font-bold p-4 rounded-full"
  >
    <ion-icon class="text-4xl" name="trophy"></ion-icon>
  </button>

  <button
    class="flex bg-gray-500 hover:bg-gray-700 text-white font-bold p-4 rounded-full"
    (click)="onShowSettings()"
  >
    <ion-icon class="text-4xl" name="settings"></ion-icon>
  </button>
</div>
<div class="flex h-full flex-col justify-between items-center p-24 text-2xl">
  <div *ngIf="settings$ | async as settings" class="text-center">
    <p *ngIf="settings.showMax">Max {{ highScore }}</p>
    <p *ngIf="settings.showTotal">Total {{ total }}</p>
    <p *ngIf="settings.showResets">Resets {{ resets }}</p>
  </div>
  <button
    class="red-button h-1/3 aspect-square bg-red-500 rounded-full text-gray-200 text-6xl shadow-2xl"
    (click)="onClick()"
  >
    {{ score }}
  </button>
  <p class="text-center">Press the button</p>
</div>
<app-settings-modal />
<app-menu-modal />
